# System Files
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Node (in case NPM is added later)
node_modules/
npm-debug.log
yarn-error.log

# Temporary / Build files
dist/
build/
.cache/
tmp/
*.log
